section nav{
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 40px;
    padding: 5px 10px 5px 10px;
    width: 100%;
    background-color: #EBC7C8;
    
}
nav img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
nav a{
    position: relative;
    left: 84%;
    bottom: 65%;
    text-decoration: none;
    border-radius: 10px;
    color: #000;
}
.inventario{
    margin-top: 7%;
    margin-bottom: 2%;
}
table, th{
    border: 1px solid #000;
    text-align: center;
    position: relative;
}
table{
    margin: 0 auto;
}
.pedidos{
    background-color: #EBC7C8;
    display: flex;
}
.pedido{
    background-color: #cbc7eb;
    width: 30%;
    text-align: center;
    border: 1px solid #000;
    margin-left: 22.5px;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    border-radius: 20px;
}